html {
    background-color: hwb(150 25% 30%);
    font-family:'Times New Roman', Times, serif ;
    line-height: 125%;
    text-align: justify ;
    hyphens: auto;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
}

article {
    display: flex;
    flex-direction: inherit;
    width: 40%;
    margin: 3%;
    border: rgb(19, 82, 1) 3px solid;
    background-color: hwb(150 50% 30%);
}

h2 {
    margin: 2%;
    padding: 5px ;
    border-right: rgb(0, 0, 0) 1px solid;
    
}

div {
    margin: 1%;
}
p::first-letter {
    float: left;
    color: hwb(108 0% 60%);
    font-size: 5rem;
    font-style: normal;
    line-height: 3rem; 
}
img{
    border: 10px solid;
    border-color: rgb(0, 117, 0);
}
.verde{
    color: green;
  }

  
